[Unit]
Description=Node 24 PM2 process manager for apigate
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User=odbadmin
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=/home/odbadmin/.nvm/versions/v24.20.0/bin:/home/odbadmin/.local/npm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PM2_HOME=/home/odbadmin/.pm2-apigate-node24
PIDFile=/home/odbadmin/.pm2-apigate-node24/pm2.pid
Restart=on-failure

ExecStart=/home/odbadmin/.nvm/versions/v24.20.0/bin/node /home/odbadmin/.local/npm/lib/node_modules/pm2/bin/pm2 resurrect
ExecReload=/home/odbadmin/.nvm/versions/v24.20.0/bin/node /home/odbadmin/.local/npm/lib/node_modules/pm2/bin/pm2 reload all
ExecStop=/home/odbadmin/.nvm/versions/v24.20.0/bin/node /home/odbadmin/.local/npm/lib/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
